* {
  margin: 0;
}

.main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  color: black;
}

a {
  color: black;
}

.first_step {
  margin-top: 25px;
}

.second_step {
  margin-top: 25px;
}

h1 {
  margin-top: 25px;
}

h2 {
  margin-top: 25px;
}

b {
  text-decoration: underline;
}
.temp{
  text-decoration: none;
  font-weight: 600;
}